.home{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media screen and (min-width: 768px) {
    .home {
        margin-top: 4rem;
    }
}