footer{
    background-color: var(--secondary-bg-color);
}

footer {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    margin-top: 4rem;
}

.footer-blk{
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.footer-copyrights{
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--card-btn-text-color);
}

.footer-logo-svg{
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.footer-logo-svg a svg{
    fill: var(--heading-color);

}

.footer-logo-svg a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
}

.footer-logo-svg:hover a{
    color: var(--link-text-color);
    transition: 0.3s all ease-in;
}

.footer-logo-svg svg{
    margin-left: 0.5rem;
    margin-top: 0;
}

.footer-links-data a{
    display: flex;
    align-items: center;
}

.footer-links-data a svg{
    margin-right: 0.5rem;
}

.footer-links-data a div{
    display: flex;
    align-items: center;
}

.footer-link-label{
    margin: 0.5rem;
    margin-top: 0;
    color: var(--card-btn-text-color);
    width: 100%;
}

.footer-link-title{
    color: var(--heading-color);
    font-size: 1rem;
    margin-bottom: 1rem !important;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.33;
}

@media screen and (min-width: 640px) {
    footer {
        margin-top: 8rem;
    }
}

@media screen and (min-width: 319px) and (max-width: 648px){
    .footer-blk{
        display: flex;
        flex-direction: column;
        padding: 54px 0;
    }
    .footer-link-title{
        display: none;
    }
    .footer-links-data{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-links-data a svg{
        margin-right: 0;
    }
    .footer-link-label{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 7px;
        padding: 4px;
        justify-content: center;
        font-size: 13.6px;
        font-weight: 700;
    }
    .quick-links{
        order: 3;
    }
    .legal-stuff-links{
        order: 2;
    }
    .social-media-links{
        order: 1;
        margin-bottom: 14px;
    }
    .company-copyrights{
        order: 4;
    }
    .footer-logo{
        margin: 28px 0 7px;
        padding-bottom: 4px;
        text-align: center;
    }
    .footer-logo-svg a {
        font-size: 13.6px;
    }
    .footer-copyrights{
        padding-top: 6.8px;
        margin-bottom: 6.8px;
        margin: 0;
        font-size: 13.6px;
    }
}