.card-data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
  margin-left: -0.5rem;
}

.card-data-wrapper-container {
  max-width: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0.5rem;
}

.card-data-details:hover {
  -webkit-transition: -webkit-transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  -webkit-transition: transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s all ease-in;
}

.card-data-details {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  -webkit-transition: transform 250ms ease, box-shadow 250ms ease,
    color 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
  box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.05);
  overflow: hidden;
  height: 100%;
}

.card-data {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-data-img {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-flex-basis: 33.333333%;
  -ms-flex-preferred-size: 33.333333%;
  flex-basis: 33.333333%;
  margin: 0.5rem;
  margin-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  position: relative;
  display: block;
}

.card-data-content {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
}

.left-side-card-img {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: 100%;
  border-radius: 0.5rem;
  min-height: 8.3rem;
}

.left-side-card-wrapper {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  height: 100%;
  z-index: 2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.33;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.card-data-bg-img {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../Assets/Images/download.png);
  background-size: 11rem;
  position: absolute;
  opacity: 0.07;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}

.card-data-btn {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  width: max-content;
  margin-bottom: 1rem;
}

.card-data-title-btn {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.75rem;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 2px;
  background-color: primary;
  display: inline-block;
  border-radius: 0.5rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 600;
  vertical-align: middle;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.card-data-title-btn:hover {
  background-color: var(--card-btn-text-color) !important;
  color: var(--card-btn-hover-text-color) !important;
}

.card-heading-title {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  line-height: 1.33;
  display: block;
  font-weight: bold;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  font-weight: bold;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--heading-color);
  cursor: pointer;
}

.card-item-profile-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.card-profile-name {
  font-size: 13.3px !important;
  color: var(--card-btn-text-color) !important;
  font-weight: bold;
  cursor: pointer;
}

.card-profile-name:hover {
  color: var(--primary-btn-bg-color) !important;
}

.card-profile-date {
  font-size: 13.3px !important;
  color: #99adc5;
}

@media screen and (max-width: 640px) {
  .card-data-container {
    display: block;
    margin-left: -0.5rem;
  }
  .view-more-btn.card-btn {
    display: none;
  }
  .card-heading-title {
    font-size: 18px !important;
    margin-bottom: 13px;
  }
  .card-data-content {
    margin: 0px;
    padding: 13px;
  }
}


@media screen and (min-width: 748px) {
  .card-heading-title {
    display: block;
    color: var(--theme-ui-colors-heading, #2d3748);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    flex: 0 1 0%;
  }
  .card
  .card-profile-name {
    font-size: 0.875rem !important;
    font-weight: bold;
    cursor: pointer;
  }
  .card-profile-date {
    font-size: 0.875rem !important;
  }
}

@media screen and (min-width: 640px) {
  @media screen and (min-width: 768px) {
    .card-heading-title {
      flex: 1 1 auto;
    }
  }
}